{#**
 * 2007-2020 PrestaShop
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0).
 * It is also available through the world-wide-web at this URL: https://opensource.org/licenses/AFL-3.0
 *#}
<div class="form-group row mt-3">
    <div class="col-sm">
        <figure class="figure">
            <img src="{{ imageUrl }}" class="figure-img img-fluid img-thumbnail">
        </figure>
        <div class="d-block">
            <button class="btn btn-outline-danger btn-sm"
                    type="submit"
                    formaction="{{ path('admin_suppliers_delete_image', {'supplierId': supplierId}) }}"
            >
                <i class="material-icons">delete_forever</i>{{ 'Delete'|trans({}, 'Admin.Actions') }}
            </button>
        </div>
    </div>
</div>
