<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>demoproductform</name>
    <displayName><![CDATA[DemoProductForm]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[DemoProductForm module description]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
</module>
