{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0).
 * It is also available through the world-wide-web at this URL: https://opensource.org/licenses/AFL-3.0
 *#}

{% extends '@Modules/demovieworderhooks/views/templates/admin/card.html.twig' %}

{% block card_title %}
  {{ 'Order main bottom (displayAdminOrderMainBottom)'|trans }}
{% endblock %}

{% block card_body %}
  <p>{{ 'This block is rendered by the displayAdminOrderMainBottom hook. It appears at the bottom of the main column, after the payments section.'|trans }}</p>
{% endblock %}
