{#**
 * 2007-2020 PrestaShop
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0).
 * It is also available through the world-wide-web at this URL: https://opensource.org/licenses/AFL-3.0
 *#}

{% trans_default_domain 'Module.Demovieworderhooks.Admin' %}

<li class="nav-item">
  <a class="nav-link"
     id="trackingTab"
     data-toggle="tab"
     href="#trackingTabContent"
     role="tab"
     aria-controls="trackingTabContent"
     aria-expanded="true"
     aria-selected="false"
  >
    <i class="material-icons">pin_drop</i>
    {{ 'Package tracking'|trans }}
  </a>
</li>
