demo_configuration_form:
  path: /demosymfonyform/configuration
  methods: [GET, POST]
  defaults:
    _controller: 'PrestaShop\Module\DemoSymfonyForm\Controller\DemoConfigurationController::index'
    # Needed to work with tab system
    _legacy_controller: AdminDemoSymfonyForm
    _legacy_link: AdminDemoSymfonyForm

demo_configuration_multiple_forms:
  path: /demosymfonyform/configurationMultipleForms
  methods: [GET]
  defaults:
    _controller: 'PrestaShop\Module\DemoSymfonyForm\Controller\DemoConfigurationMultipleFormsController::index'
    _legacy_controller: AdminDemoSymfonyFormMultipleForms
    _legacy_link: AdminDemoSymfonyFormMultipleForms

demo_configuration_choices_form_save:
  path: /demosymfonyform/configurationMultipleForms/saveChoices
  methods: [ POST ]
  defaults:
    _controller: 'PrestaShop\Module\DemoSymfonyForm\Controller\DemoConfigurationMultipleFormsController::saveChoicesForm'

demo_configuration_other_form_save:
  path: /demosymfonyform/configurationMultipleForms/saveOther
  methods: [ POST ]
  defaults:
    _controller: 'PrestaShop\Module\DemoSymfonyForm\Controller\DemoConfigurationMultipleFormsController::saveOtherForm'

demo_geocoordinates_form:
  path: /demosymfonyform/geoCoordinatesForm
  methods: [GET, POST]
  defaults:
    _controller: 'PrestaShop\Module\DemoSymfonyForm\Controller\DemoGeoCoordinatesFormController::index'
    # Needed to work with tab system
    _legacy_controller: AdminDemoSymfonyForm
    _legacy_link: AdminDemoSymfonyForm